services:
  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"

  rate-limiter:
    build: .
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - "8085:8085"
    depends_on:
      - redis
